@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
/* Home page style */

* {
  box-sizing: border-box;
}

h1, p, h2, h3, h4 {
  color: #1b3a4b;
}

.firstBlock {
  font-size: 1.5em;
}

.middleBlock {
  background-color: rgb(0, 100, 102, 0.4);
  height: 700px;
  font-size: 1.5em;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.container {
  padding: 64px;
  margin-top: 80px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.semi-large-font {
  font-size: 32px;
}

.qoute {
  font-size: 20px;
}

.xlarge-font {
  margin-top: 40px;
  font-size: 64px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66, .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}

/* end of styling home page */

/* Latest project timeline style */

.site-layout .site-layout-background {
  background: #fff;
}

.site-card-wrapper {
  padding: 120px 30px 30px 30px;
  background: #ececec;
}

.lastLine {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
}

.Card-Title {
  text-align: center;
}

.Card-contatnt {
  text-align: left;
  font-size: 1em;
}

.site-card-wrapper {
  background: linear-gradient(141deg, #f8f7ef 15%, #80b2b3 48%, #006466 70%, #1b3a4b 95%);
}

.contact-container {
  width: 40%;
  margin: auto;
  padding: 50px 50px 20px 5px;
  margin-top: 6px;
  margin-bottom: 70px;
  align-items: center;
  border: 1px solid #fff;
}

.contact-title {
  /* margin-top: 55px; */
  text-align: center;
}

.register-container {
  width: 40%;
  margin: auto;
  padding: 50px 50px 20px 5px;
  margin-top: 6px;
  margin-bottom: 70px;
  border: 1px solid #fff;
}

.Setting {
  margin-left: 450px;
  width: 100vh;
  text-align: left;
  border: 1px solid #006466;
  /* background-color: rgb(0, 100, 102, 0.4); */
}

.Settings-items {
  width: 65%;
  margin: auto;
  padding: 50px 50px 20px 5px;
  margin-top: 6px;
  margin-bottom: 70px;
}

.font-setting {
  font-size: 40px;
  color: white;
}

.members {
  align-items: center;
}

.contContainer {
  margin-top: -50px;
}

.ant-timeline-item-tail {
  color: #fff;
}

.ant-timeline-item-head, .ant-layout, .site-layout .site-layout-background {
  background-color: rgba(255, 255, 255, 0);
}

.profile-items {
  width: 60%;
  margin: auto;
  padding: 10px;
  margin-top: 6px;
}

.ant-menu {
  z-index: 1;
  background: transparent;
}

.ant-menu-horizontal {
  border-bottom-color: transparent
}

.ant-menu-horizontal>.ant-menu-item-selected a {
  color: #4d194d;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected {
  border-bottom: 2px solid #4d194d;
}

.ant-menu-horizontal>.ant-menu-item a:hover {
  color: #312244;
}

.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active:hover {
  border-bottom: 2px solid #312244;
}